<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MembershipDB" connectionString="Server=.\MAVIN;Database=Membership;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="Membership.Properties.Settings.MembershipConnectionString"
      connectionString="Data Source=Localhost\MAVIN;Initial Catalog=Membership;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
